.hamburgermenu {
  margin-left: -100%;
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .4s ease-in-out;
  z-index: 1000;
  padding: 4.4rem 3.2rem;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__label {
    align-self: flex-end;
  }

  &__links {
    margin-top: 3rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #000000;

    & a {
      text-decoration: none;
      color: currentColor;
    }

    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
}